.body
{
	padding: 1px;
	background-size: cover;
	background position: relative;
}
html{
	height: 100;
}
nav {
	width:100%;
background-color: white;
width: 100%;	
position:absolute;
padding:5px;
margin-bottom:40px;

}

h1{
	font-weight: 700;
	font-size: 3em;
	color: white;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0,0.2);
	margin-left: 5px;
}
 
.styling{
	font-family: arial;
	font-size: 26px;
	background-color: black;
	padding: 50px;
	text-decoration: none;
	color: white;
}
.custStyle{
	font-size: 25px;
	font-family: sans-serif;
}
  .custHead{
  	margin-left: 5%;
  	padding-top:50px;
  }
  
    
	